<!-- <h1>ffff</h1>

<div class="row">
  <h4>"{{meals.description}}"</h4> -->


      <div class="container fluid" index="mealNumOne">


        <h1><a href="/users/{{../user.id}}/meals/{{this.id}}/edit">{{meals.name}}</a></h1>
        <img src="{{meals.image}}" width="200px">
        <p>{{meals.description}}</p>
        <p>Example Meal: {{meals.exampleMeal}}</p>
        <p>Calories: {{meals.calories}}</p>

      </div>
      <hr>
      <h1>Switch it up. Edit your meal here...</h1>
      <!-- <p>{{userId}}</p> -->

      <div class="row">
          <form action="/users/{{userId}}/meals/{{meals.id}}?_method=PUT" method="POST" class="col-md-6 col-md-6">
              <div class="form-group">
                  <label for="name">Name:</label>
                  <input type="text" name="name" class="form-control">
              </div>
              <div class="form-group">
                  <label for="description">Description:</label>
                  <input type="text" name="description" class="form-control">
              </div>
              <div class="form-group">
                  <label for="calories">Calories:</label>
                  <input type="text" name="country" class="form-control">
              </div>
              <div class="form-group">
                  <label for="exampleMeal">Meal:</label>
                  <input type="text" name="exampleMeal" class="form-control">
              </div>
              <div>
                  <input type="submit" value="Edit Meal" class="btn btn-primary">
              </div>
          </form>

          <form action="/users/{{userId}}/meals/{{meals.id}}?_method=DELETE" method="POST">
	            <input class="btn btn-danger" type="submit" value="Delete This">
          </form>
      </div>
<div>
    <!-- <a href="/meals/{{meals.id}}" class="btn btn-default">Back</a> -->
    <a href="/users/show" class="btn btn-default">Main Page</a>
</div>
