

<div class="d-flex align-content-around flex-wrap">
  <div class="col col-md-6">
    {{meals.0.name}}<br>
    {{meals.0.imgURL}}<br>
  </div>
  <div class="col col-md-6">
    {{meals.1.name}}<br>
    {{meals.1.imgURL}}
  </div>
  <div class="col col-md-6">
    {{meals.2.name}}<br>
    {{meals.2.imgURL}}
  </div>
  <div class="col col-md-6">
    {{meals.3.name}}<br>
    {{meals.3.imgURL}}

  </div>
</div>
