
<h1><b><u>The Coders Digest</u></b></h1>

  <!-- Default/Seeded Meals -->
  <div class="container">

    <ul>
        {{#each universalMeals}}
        <li>
            <h1><a href="/users/{{../userId}}/meals/{{this.id}}/edit">{{this.name}}</a></h1>
            <img src="{{this.imgURL}}" width="350px" alt=""><br><br>
            <p>{{this.description}}</p>
            <p>Meal: {{this.exampleMeal}}</p>
            <p>Calories: {{this.calories}}</p>
        </li>
        {{/each}}
    </ul>

    <!-- Added User Meals -->
    <ul>

        {{#each user.meals}}
        <li>
            <h1><a href="/users/{{../userId}}/meals/{{this.id}}/edit">{{this.name}}</a></h1>
            <img src="{{this.imgURL}}" width="350px" alt=""><br><br>
            <p>{{this.description}}</p>
            <p>Meal: {{this.exampleMeal}}</p>
            <p>Calories: {{this.calories}}</p>
        </li>
        {{/each}}

    </ul>
<hr>
</div>
<div class="create">
  <h1>Create your new meal here!</h1>
  <div class="row">
      <form action="/users/{{userId}}/meals" method="POST">
          <div class="form-group">
              <label for="name">Name: </label>
              <input type="text" name="name" class="form-control">
          </div>
          <div class="form-group">
              <label for="imgURL">Image URL:</label><br>
              <input type="text" name="imgURL" class="form-control">
          </div>
          <div class="form-group">
              <label for="description">Description: </label>
              <input type="text" name="description" class="form-control">
          </div>
          <div class="form-group">
              <label for="calories">Calories: </label>
              <input type="text" name="country" class="form-control">
          </div>
          <div class="form-group">
              <label for="exampleMeal">Meal: </label>
              <input type="text" name="exampleMeal" class="form-control">
          </div>
          <div>
              <input type="submit" value="Add to Meals" class="btn btn-primary">
          </div>
      </form>
  </div>
</div>
