<h1>welcome</h1>

<h1>My Favorite Meals</h1>

<ol>
    {{#each meals}}
    <li>
        <h1><a href="/meals/{{this.id}}">{{this.name}}</a></h1>
        <h3>{{this.type}}</h3>
        <p>{{this.calories}}, {{this.allergies}}</p>
    </li>
    {{/each}}
</ol>

<form action="/users/{{user.id}}/meals/new">
  <input class="btn btn-default" type="submit" value="Create New Meal">
</form>
